<div class="mb-4">
    <div class="text-3xl">
        <h1 class="break-all">
            {{ post.title }}
            {% if post.edited is not null %}
                <span class="text-sm text-gray-500 dark:text-gray-400 italic">(edited {{ post.edited| date("M j, Y, g:i a") }})</span>
            {% endif %}
        </h1>
    </div>
    <div class="text-xl dark:text-gray-400 mt-2">
        {{ post.text }}
    </div>
    <div class="text-gray-500 dark:text-gray-400">
        {{ post.created | date("M j, Y") }}
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and post.author.id == app.user.id %}
        <div>
            <a href="{{ path('app_micro_post_edit', {post: post.id}) }}" class="font-light text-sm text-gray-800 dark:text-gray-300">Edit</a> |
            <a href="{{ path('app_micro_post_remove', {post: post.id}) }}"
               onclick="if (!window.confirm('Are you sure you want to proceed?')) return false;"
               class="font-light text-sm text-red-500 dark:text-red-500">Remove</a>
        </div>
    {% endif %}
    <div class="mt-4" id="like">
        {% if post.likedBy.contains(app.user) %}
            <a href="{{ path('app_unlike', { id: post.id }) }}">
                Unlike&#128148; <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ post.likedBy.count }}</span>
            </a>
        {% else %}
            <a href="{{ path('app_like', { id: post.id }) }}">
                Like&#10084; <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ post.likedBy.count }}</span>
            </a>
        {% endif %}
    </div>
</div>
