<div class="mb-4">
    <div class="text-3xl">
        <h1 class="break-all">
            {{ post.title }}
            {% if post.edited is not null %}
                <span class="text-sm text-gray-500 dark:text-gray-400 italic">(edited {{ post.edited| date("M j, Y, g:i a") }})</span>
            {% endif %}
        </h1>
    </div>
    <div class="text-xl dark:text-gray-400 mt-2">
        {{ post.text|raw }}
    </div>
    <hr class="h-px mt-8 mb-2 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="text-gray-500 dark:text-gray-400">
        {{ post.created | date("M j, Y") }}
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and post.author.id == app.user.id %}
        <div>
            <a href="{{ path('app_micro_post_edit', {post: post.id}) }}" class="font-light text-sm text-gray-800 dark:text-gray-300">Edit</a> |
            <a href="{{ path('app_micro_post_remove', {post: post.id}) }}"
               onclick="if (!window.confirm('Are you sure you want to proceed?')) return false;"
               class="font-light text-sm text-red-500 dark:text-red-500">Remove</a>
        </div>
    {% endif %}
    <div class="mt-4 relative" id="like">
        {% if post.likedBy.contains(app.user) %}
            <a data-popover-target="likedBy" data-popover-placement="right" href="{{ path('app_unlike', { id: post.id }) }}">
                Unlike&#128148; <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ post.likedBy.count }}</span>
            </a>
        {% else %}
            <a data-popover-target="likedBy" data-popover-placement="right" href="{{ path('app_like', { id: post.id }) }}">
                Like&#10084; <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ post.likedBy.count }}</span>
            </a>
        {% endif %}
        <div data-popover id="likedBy" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
            <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                <h3 class="font-semibold text-gray-900 dark:text-white">Liked by:</h3>
            </div>
            <div class="px-3 py-2">
                <ul>
                    {% for user in  post.likedBy %}
                        <li><a href="{{ path('app_profile', { id: user.id }) }}">{{ user.userProfile.name ?? user.email }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
